@import "tailwindcss";
@source "../admin";

.home {
    background-image: linear-gradient(#3E0058 2px, transparent 2px), linear-gradient(to right, #3E0058 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: #0c0c0c;
}

body {
    background-color: #0c0c0c;
}

@theme {
    --background-image-hero: url('/images/bg_img_no_overflow_dark.webp');
    --font-inter: "Inter", sans-serif;
    --breakpoint-xmid: 800px;
    --breakpoint-mid: 900px;
    --breakpoint-mid1000: 1000px;
    --color-xlight-purple: oklch(89.707% 0.09076 324.455);
    --color-light-purple: oklch(56.385% 0.26293 325.016);
    --color-dark-purple: oklch(33.557% 0.15575 325.14);
    --color-darkest-purple: oklch(11.336% 0.0549 318.321);
    --color-mango: oklch(82.389% 0.1492 75.247);
}
@utility grid-cols-autofit {
    grid-template-columns: repeat(auto-fit, minmax(8.75rem,1fr));
}

@layer components {
    .button {
        @apply inline-block border border-light-purple/50 py-3 px-5 rounded-md hover:bg-dark-purple transition-colors;
    }
}

/*Dropdown menu*/
.dropdown {
            position: relative;
            display: inline-block;
            
        }

        .dropdown label {
            color: #000;
        }

        .dropdown-button {
            padding: 10px 16px;
            background: #333;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            background: white;
            min-width: 220px;
            max-height: 230px;
            overflow-y: auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            z-index: 1000;
        }

        .dropdown-menu label {
            display: block;
            padding: 8px;
            cursor: pointer;
        }

        .dropdown-menu label:hover {
            background: #f2f2f2;
        }

        .dropdown-menu input {
            margin-right: 8px;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }