@import "tailwindcss";

body {
    background-color: #0c0c0c;
}

@theme {
    --background-image-hero: url('/images/bg_img_no_overflow_dark.webp');
    --font-inter: "Inter", sans-serif;
    --breakpoint-mid: 900px;
    --color-xlight-purple: oklch(89.707% 0.09076 324.455);
    --color-light-purple: oklch(56.385% 0.26293 325.016);
    --color-dark-purple: oklch(33.557% 0.15575 325.14);
    --color-darkest-purple: oklch(11.336% 0.0549 318.321);
    --color-mango: oklch(82.389% 0.1492 75.247);
}
@utility grid-cols-autofit {
    grid-template-columns: repeat(auto-fit, minmax(8.75rem,1fr));
}

@layer components {
    .button {
        @apply inline-block bg-light-purple py-3 px-5 rounded-md hover:bg-dark-purple transition-colors;
    }
}